<%# After a player's name and email are recorded (or existing ones found in db)
    A welcome message is shown along with a button to start Fleet Setup %>

$('#register2').hide(500);

$('#my_messages').append("<div id=\"left_message\"></div>")
$('#my_messages #left_message').html("Welcome <%=j @player.name %>!");
$('#my_messages #left_message').append("<p>First you'll have to set up your fleet!</p>");

$('#my_messages').show(500);
$('#enemy_messages').show(500);

$('#my_messages').append("<div id=\"right_message\"></div>");
$('#my_messages #right_message').append("<div id=\"button\"></div>");
$('#right_message #button').html("<%=j button_to "Set Up Fleet!", 
                                          setup_path, class: "button2 shipSetup", 
                                          method: :post, remote: true %>");
// $('.shipSetup').click(function(){
  // $('#my_messages').empty();
  // $('#my_messages').html("Please wait while preparing board...");
// });
