// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$board-color: #1CE;

.board {
  position: absolute;
  
  height:400px;
  width:400px;
  
  border-style:solid;
  border-width:2px;
  border-color:$board-color;

  .square {
  
    float:left;
    
    position: relative;  
    width:39px;
    height:39px;
    border-width:1px;
    border-color:$board-color;

    border-right-style:solid;
    border-bottom-style:solid;

    background: darken($board-color, 25%);
    // background: #189;
        
    border-right-style:solid;
    border-bottom-style:solid;
  }
}

#ships{
  position: absolute;
  /* 2 px to get inside the board's borders;*/
  left:2px;
  top:2px;

  .ship{
    position: absolute;
    width:39px;
    height:39px;
    background-color:#777;
  }
  .hit{
    position: absolute;
    width:39px;
    height:39px;
    background-color: #f33; 
  }
  .ship_miss{
    position: absolute;
    width:39px;
    height:39px;

  }
}

#targets{
  position: absolute;
  /* 2 px to get inside the board's borders;*/
  left:2px;
  top:2px;

  .target{
    position: absolute;
    width:39px;
    height:39px;
  }
  .hit{
    position: absolute;
    width:39px;
    height:39px;
    background-color: #f33;
  }
  .miss{
    position: absolute;
    width:39px;
    height:39px;
    background-color: #fff;
  }
}

#register, #register2{
  position: relative;
  width: 75%;
  height: 80%;
  background-color: #888;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  -webkit-box-shadow: -1px 1px 2px 3px #555;

  #text, #new_player{
    margin-left: 2%;
    color: black;
    font-size: 12px;
    width: 75%;
    float: left;
  }

  #new_player {
    position: relative;
    width: 100%;
     
    #input_fields {
      position: relative;
      margin-top: 15px;
      height: 16px;
      width: 80%;
      
      .field{
        float: left;
        padding-right: 30px;

        .player_label{
          font-size: 22px;
        }
      }
    }
  }

}
#button {
  position: relative;
  height: 36px;
  width: 15%;
  top: 50%;
  margin-top: -18px;
  float: right;
}

.button2 {
  display: inline-block;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  font-size: 22px;
  line-height: 22px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  vertical-align: middle;
  cursor: pointer;
  background-color: #0074cc;
  background-image: -ms-linear-gradient(top, #0088cc, #0055cc);
  background-image: -webkit-linear-gradient(top, #0088cc, #0055cc);
  background-image: -moz-linear-gradient(top, #0088cc, #0055cc);
  background-image: -o-linear-gradient(top, #0088cc, #0055cc);
  background-image: linear-gradient(top, #0088cc, #0055cc);
  background-repeat: repeat-x;
  border-color: #0055cc #0055cc #003580;
  border: 1px solid #cccccc;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.button2:hover {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #0055cc;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.button2:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.button2:active {
  color: rgba(255, 255, 255, 0.75);
  background-color: #0055cc;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15), 0 1px 2px rgba(0,0,0,0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
